body {
  height: 0%;
  background-color: #efefef;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

nav_conteiner {
  width: 85%;
  max-width: 850 px;
  margin: 0 auto;
}

.nav_header {
  font-family: "Otomanopee One", sans-serif;
  background-color: #0a1931;
  color: #dbd3d3;
}

.nav_header a {
  color: #efefef;
  text-decoration: none;
  font-style: italic;
  padding: 2rem 0;
}

.logo_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_nav img {
  width: 90px;
  height: 90px;
  padding: 3px 3px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigation ul li {
  display: inline-block;
}

.navigation ul li a {
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 10px;
}

.navigation ul li a:hover {
  background-color: #ffc947;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.all_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#conteiner {
  width: 350px;
  height: 250px;
  justify-items: center;
  background-image: linear-gradient(
    to right top,
    #b4bdcb,
    #adbbd2,
    #a7bad9,
    #a0b8e0,
    #9ab6e7,
    #93b3e9,
    #8cb0eb,
    #85aded,
    #7ba8eb,
    #70a3e8,
    #649fe6,
    #579ae3
  );
  padding-left: 30px;
  margin: 20px 10px 20px 10px;
  border-radius: 25px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

input {
  font-family: "Chakra Petch", sans-serif;
  position: relative;
  padding: 10px;
  width: 70%;
  outline: 0;
  border: 2px solid #8ea08e;
  border-radius: 10px;
  float: left;
}

.image_chip img {
  width: 50px;
  height: 40px;
  padding: 6px 6px;
}

#credit_score {
  color: #175026;
  padding-left: 10px;
  float: left;
}

#warning {
  color: #e60404;
  padding-left: 10px;
  float: left;
}

.title {
  font-family: "Encode Sans SC", sans-serif;
  padding: 10px;
  border-bottom: solid;
  border-bottom-color: black;
}

.button {
  display: flex;
  flex-grow: unset;
  background-color: #185adb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 10px;
}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  position: fixed;
  background: #0a1931;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
}
footer p {
  text-align: center;
  color: #dbd3d3;
}

.unknown{
  width: 50px;
  height: 40px;
  padding: 10px;
}