input:valid {
    padding: 10px;
    outline: 0;
    border: 2px solid #B0BEC5;
}
input:invalid {
    border-color: #DD2C00;
}
.cc_input{
    float:left;
}
.cc_icon{
    float:left;
}
.cc_control{
    width: 100%;
}

.cc_control_input{
    width: 100%;

}